@media only screen and (min-width: 768px) {



@media only screen and (min-width: 992px) {


/* Navbar */

  .navbar{
    height: 60px;
  }

  .nav-logo{
    font-size: 1.5em;
    -webkit-margin-before: 0.75em;
    -webkit-margin-after: 0.75em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }

  .nav-icon{
    height: 33px;
    margin: 14px;
  }

  .nav-loc{
    font-size: 1.17em;
    margin: 1.1em;
    font-weight: bold;
  }

  .nav-search {
     height: 50px;
     width: 240px;
     max-width:0;
     padding: 5px;
  }

  .nav-search.expanded {
     max-width:300px;
     opacity:1;
  }


/* header */

  .logo{
    font-size: 10em;
  }

  .search{
    border-radius: 10px;
    font-size: 1.6em;
    height: 55px;
    background-size: 40px;
    background-position: 10px 10px;
    text-indent: 70px;
  }

  .loc{
    font-size: 1.37em;
  }

  .location-icon{
    width: 30px;
  }

  .rx-align{
    text-align: right;
    padding-top: 25px;
  }


/* near & collection */

  .rest-title{
    font-size: 3em;
  }
  .sub-title{
    font-size: 1.5em;
  }

/* near card */

  .card-near{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 250px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
    border-radius: 5px;
  }

  .near-img{
    width: 95%;
    height: 85%;
    margin-top: 5%;
    margin-left: 20px;
    margin-bottom: 10%;
    border-radius: 5px;
  }

  .rest-name{
    color: #f65b5b;
    font-size: 1.7em;
    margin: 0;
  }

  .cusines{
    font-size: 1.17em;
  }

  .rest-address{
    font-size: 1em;
  }

  .price{
    font-size: 1.5em;
    display: block;
  }

  .cont-rec{
    font-size: 1.2em;
  }

  .votes{
    font-size: 1.17em;
  }

  .rating{
    padding-left: 0;
    padding-right: 0;
  }

  .cont-rec{
    height: 45px;
    line-height: 47px;
    text-align: center;
    width: 56px;
    margin: 0 auto;
  }


/* collection card */
  .card-coll{
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
  }

  .descr-coll{
    width: 250px;
  }

  .coll-title{
    font-size: 1.5em;
  }

  .coll-descr{
    font-size: 1.1em;
  }

  .coll-count{
    font-size: 1.1em;
  }

}
