.coll-img{
  width: 100%;
}

.near-img{
  width: 400px;
}

.loc{
  color: white;
  font-size: 30px;
}

.card-near{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 250px;
  width: 800px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.35);
  border-radius: 20px;
}

.card-coll{

}
