
.loc{
  color: white;
  vertical-align: middle;
}
 /* Neaar Card*/
.card-near{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 250px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
  border-radius: 5px;
}

.near-img{
  object-fit: cover;
  width:100%;
  height:230px;
  padding-top: 20px;
  padding-left: 20px;
}

.cont-rec{
  color: #fff;
  cursor: default;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 16px;
  height: 45px;
  line-height: 47px;
  text-align: center;
  width: 56px;
  margin: 0 auto;
}

.rating{
  padding-left: 60px;
}

.align-self-center{
  margin-top:  4%;
}


/* Coll card */

.card-coll{
  margin-top: 10px;
  margin-bottom: 10px;
  width:100%;
  height:25vw;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
}

.all-text-coll{
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: white;
}

.title-coll{

}

.descr-coll{
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.red-line{
  margin-top: 20px;
  height: 2px;
  width: 150px;
  background-color: #f65b5b;
}

/*.cover-coll{
  width: 100%;
  height:25vw;
  background-color: #303030;
  opacity: 0.5;
  position: absolute;
  top: 0;
}*/
