
.loc{
  color: white;
  vertical-align: middle;
}

 /* header */

.autocomplete{
  border-radius: 0 0 10px 10px;
  top: -10px;
  position: relative;
  background-color: white;
}

.search-el{
  border-bottom: 1px solid #f0f0f0;
  margin: 0;
  cursor: pointer;
}

.search-el:hover{
  background-color: #f0f0f0;
  opacity: 0.5;
}

.search-el:last-child{
  border-bottom: none;
}

.search-text{
  padding-left: 75px;
}
 /* Neaar Card*/
.card-near{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 250px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
  border-radius: 5px;
}

.near-img{
  width: 95%;
  height: 85%;
  margin-top: 5%;
  margin-left: 20px;
  margin-bottom: 10%;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
}


.cont-rec{
  color: #fff;
  cursor: default;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.align-self-center{
  margin-top:  4%;
}

.price{
  letter-spacing: 5px;
}


/* Coll card */

.card-coll{
  margin-top: 10px;
  margin-bottom: 10px;
  width:100%;
  height:25vw;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
}

.all-text-coll{
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: white;
}

.title-coll{

}

.descr-coll{
  margin-top: 10px;
  margin-bottom: 10px;
}

.red-line{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 2px;
  width: 150px;
  background-color: #f65b5b;
}

.cover-coll{
  width: 100%;
  height:25vw;
  border-radius: 5px;
  background-color: #303030;
  opacity: 0.5;
  cursor: pointer;
}

@keyframes opacity-coll {
    from {opacity: 0.5;}
    to {opacity: 0.8;}
}

.card-coll:hover .cover-coll{
  opacity: 0.8;
  animation-name: opacity-coll;
  animation-duration: 0.4s;
}


/* coll page */

.coll-page-img{
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cover-coll-page{
  width: 100%;
  height:30vw;
  background-color: #303030;
  opacity: 0.5;
}

.all-text-coll-page{
  position: absolute;
  top: 3%;
  left: 5%;
  color: #ffff;
}

.coll-title-page{
  font-size: 2.5em;
}

.coll-descr-page{
  font-size: 1.5em;
}

.coll-count-page{
  font-size: 2.1em;
}

/* search page */
.text-search{
  padding-left: 10%;
}
