/* xs media */


/* Navbar */

  .navbar{
    height: 60px;
  }

  .nav-logo {
    font-size: 1.8em;
    margin-top: 13px;;
  }

  .nav-icon {
    height: 35px;
    margin: 14px;
  }

  .nav-loc{
    font-size: 1.1em;
    margin-right: 14px;
    margin-top: 21px;
  }


/* header */

  .logo {
    font-size: 6em;
  }

  .search{
    border-radius: 10px;
    height: 50px;
    font-size: 1.1em;
    background-size: 35px;
    background-position: 10px 10px;
    text-indent: 58px;
  }

  .nav-search {
    z-index: 1;
    height: 35px;
    width: 225px;
    font-size: 1.2em;
    max-width:0;
    padding: 5px;
    margin-top: 5%;
  }

  .nav-search.expanded {
     max-width:300px;
     opacity:1;
  }

  .loc{
    font-size: 1.2em;
  }

  .location-icon{
    width: 55px;
  }

  .rx-align {
    text-align: right;
    padding-top: 15px;
  }

  .location-icon {
    width: 30px;
  }

/* near & collection */

  .rest-title{
    font-size: 3em;
  }

  .sub-title{
    font-size: 1.3em;
  }


/* near card */

  .card-near{
    margin-top: 10px;
    margin-bottom: 0px;
    height: 180px;
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
  }

  .near-img {
    width: 95%;
    height: 78%;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10%;
    border-radius: 5px;
  }

  .rest-name{
    color: #f65b5b;
    font-size: 1.3em;
    margin: 0;
    line-height: 25px;
  }

  .cusines{
    font-size: 1.1em;
  }

  .rest-address{
    font-size: 1.05em;
    color: grey;
  }

  .price{
    font-size: 1.2em;
    display: none;
  }

  .cont-rec{
    font-size: 1.0em;
  }

  .votes{
    font-size: 0.7em;
    padding-left: 4px;
  }

  .rating{
    padding-left: 0;
    padding-right: 0;
    right: 15px;
  }

  .cont-rec{
    height: 35px;
    line-height: 38px;
    text-align: center;
    width: 40px;
    margin: 0 auto;
  }

  .restaurant-card-distance{
    text-align: center;
    margin-top: 55px;
    font-size: 1.2em;
  }

/* collection card */
  .card-coll{
    width:100%;
    height:180px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
  }

  .ow-pad {
    padding-left: 0px;
    padding-right: 0px;
  }

  .cover-coll{
    width: 100%;
    height:180px;
    border-radius: 0px;
  }

  .all-text-coll{
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: white;
  }

  .descr-coll{
    width: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .coll-title{
    font-size: 1.3em;
  }

  .coll-descr{
    font-size: 1em;
    width: 260px;
  }

  .coll-count{
    font-size: 1.1em;
  }

  .red-line {
    margin-top: 10px;
    margin-bottom: 10px;
}

  /* collection page */
  .coll-page-img {
    width: 100%;
    height: 400px;
    margin-top: 55px;
    margin-bottom: 20px;
  }

  .cover-coll-page{
    width: 100%;
    height: 400px;
  }

  .coll-row{
    margin-left: -15px;
    margin-right: -15px;
  }

  .rest-row{
    margin-left: 0px;
    margin-right: 0px;
  }

  .all-text-coll-page{
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: white;
  }

  .coll-title-page{
    font-size: 1.7em;
  }

  .coll-descr-page{
    font-size: 1.1em;
    width: 230px;
  }

  .coll-count-page{
    font-size: 1.3em;
  }

  /* search page */
  .text-search{
    padding-top: 30%;
    padding-left: 25%;
    padding-bottom: 10%;
  }


@media only screen and (min-width: 576px) {

  .logo {
    font-size: 8em;
  }

  .nav-search{
    margin-top: 3%;
  }

  /* coll card */
  .card-coll{
    width:100%;
    height:180px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
  }

  .coll-row{
    margin-left: -5px;
    margin-right: -5px;
  }

  .ow-pad {
    padding-left: 5px;
    padding-right: 5px;
  }

  .cover-coll{
    width: 100%;
    height:180px;
    border-radius: 5px;
  }

  .votes{
    padding-left: 0px;
  }

 }
