@media only screen and (min-width: 576px) {

/* Navbar */

  .navbar{
    height: 15vw;
  }

  .nav-logo{
    font-size: 55px;
    margin-top: 11%;
  }

  .nav-icon{
    height: 75px;
    margin: 12%;
  }

  .nav-loc{
    font-size: 35px;
    margin-right: 12%;
    margin-top: 17%;
  }


/* header */

  .search{
    border-radius: 20px;
    height: 75px;
    font-size: 32px;
    background-size: 60px;
    background-position: 10px 10px;
    text-indent:85px;
  }

  .loc{
    font-size: 30px;
  }

  .location-icon{
    width: 55px;
  }

/* near & collection */

  .rest-title{
    font-size: 4.5em;
  }

  .sub-title{
    font-size: 2.1em;
  }


/* near card */

  .rest-name{
    color: #f65b5b;
    font-size: 2.7em;
    margin: 0;
  }

  .cusines{
    font-size: 1.7em;
  }

  .rest-address{
    font-size: 1.5em;
    color: grey;
  }

  .price{
    font-size: 2.5em;
    display: none;
  }

  .cont-rec{
    font-size: 1.5em;
  }

  .votes{
    font-size: 1.35em;
  }

/* collection card */

  .descr-coll{
    width: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .coll-title{
    font-size: 2.1em;
  }

  .coll-descr{
    font-size: 1.4em;
  }

  .coll-count{
    font-size: 1.7em;
  }

 }
